@import url("https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, sans-serif;
  background-color: #2d2e32;
  color: white;
}

.header {
  width: 100%;
  height: 85px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1.5px solid white;
}

.itemsCounter {
  margin-top: 20px;
  font-size: 30px;
  text-align: center;
}

hr {
  margin-top: 5px;
  height: 1.5px;
}

.logo {
  height: 90%;
  width: 170px;
  border-radius: 70%;
  margin-left: 30px;
}

.navBar {
  width: 300px;
  margin-right: 40px;
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
  background-color: #2d2e32;
}

.list,
.contact,
.search {
  border-bottom: 2px solid transparent;
  transition: all 200ms;
}

.list:hover,
.search:hover,
.contact:hover {
  cursor: pointer;
  border-bottom: 2px solid white;
}

form {
  margin-left: 30px;
  margin-top: 20px;
}

option,
select {
  background-color: transparent;
  font-weight: 600;
  padding: 5px 10px;
  border: 2px solid white;
  font-size: 15px;
  border-radius: 5px;
}

select {
  margin-left: 10px;
}

option {
  background-color: #2d2e32;
  padding: 5px;
}

.submit {
  background-color: transparent;
  margin-left: 10px;
  border-radius: 5px;
  padding: 5px 10px;
  border: 2px solid white;
  font-size: 15px;
}

.submit:hover {
  background-color: #2d2e32;
  cursor: pointer;
  border: 1.5px solid white;
}

.displayDiv {
  width: 98.5%;
  flex-wrap: wrap;
  margin: 30px auto 30px auto;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 40px;
  padding-bottom: 30px;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.meal {
  width: 280px;
  height: 280px;
  background-color: rgba(170, 170, 170, 0.267);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  column-gap: 15px;
  border: 1px solid white;
}

.mealPhoto {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.mealName {
  /* background-color: rgba(170, 170, 170, 0.267); */
  border-radius: 5px;
  padding: 5px 20px;
  max-width: 300px;
  text-align: center;
  margin-top: 15px;
  font-size: 22px;
  font-weight: 800;
}

.footerLine {
  width: 100%;
  height: 1px;
  margin-bottom: 5px;
  background: white;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid white;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pop-up-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: none;
  place-content: center;
  padding: 20px;
  top: 0;
  backdrop-filter: blur(3px);
  background-color: rgba(165, 165, 165, 0.342);
  z-index: 1000;
}

.pop-up {
  position: relative;
  width: 70%;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 6px;
  border: 2px solid white;
  gap: 10px;
  padding: 50px;
  overflow-x: hidden;
  overflow-y: auto;
  margin: auto;
}

.dish-img {
  width: 400px;
  height: 200px;
  overflow: hidden;
  object-fit: cover;
  border-radius: 5px;
}

.dish-title {
  font-size: 28px;
}

.close-btn {
  position: absolute;
  right: 15px;
  top: 15px;
  transform: scale(1.5);
}

.close-btn:hover {
  cursor: pointer;
}

.category-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
  align-items: center;
  font-size: 20px;
}

.dish-tags {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.tag-description {
  padding: 5px 10px;
  background-color: rgba(165, 165, 165, 0.493);
  border-radius: 4px;
  border: 1px solid white;
}

.dish-title,
.category,
.see-recipe > i,
.see-recipe > i > a,
.popup-header,
.comment-description {
  color: white;
}

.popup-header {
  font-size: 22px;
}

.see-recipe > i,
.see-recipe > i > a {
  font-size: 20px;
  font-weight: 400;
}

.comments-container {
  background-color: rgba(165, 165, 165, 0.293);
  border-radius: 5px;
  padding: 10px;
}

.comment-description {
  background-color: transparent;
  font-size: 18px;
  font-weight: 600;
}

.commit-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  align-items: stretch;
  width: 80%;
  max-width: 500px;
}

.input-control {
  background-color: transparent;
  color: white;
  border: 2px solid white;
  padding: 7px 15px;
  border-radius: 4px;
  font-size: 18px;
}

.input-control::placeholder {
  color: white;
}

.commit-input {
  resize: none;
  height: 60px;
}

.add-comment-btn {
  font-size: 18px;
  border-radius: 4px;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  padding: 5px 10px;
}

.add-comment-btn:hover {
  background-color: rgba(170, 170, 170, 0.17);
}

.comment {
  background-color: rgba(170, 170, 170, 0.267);
  margin-top: 15px;
  padding: 5px 7px;
  font-size: 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-weight: 600;
}

.comment:hover {
  background-color: rgba(170, 170, 170, 0.17);
}

#comments-number {
  color: white;
}

.like {
  margin-left: 10px;
  width: 35px;
  height: 35px;
  border-radius: 10px;
  position: relative;
  left: 70px;
  top: -38px;
  cursor: pointer;
}

.like:hover {
  transform: scale(1.1);
}

.elementLikes {
  margin-top: -30px;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 600;
}
